appdirs==1.4.3
astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
cfscrape==2.1.1
chardet==3.0.4
cheroot==6.6.0
Click==7.0
colorama==0.4.3
colorlog==4.1.0
cryptography==2.8
cssselect==1.1.0
fake-useragent==0.1.11
filetype==1.0.5
Flask==1.1.1
Flask-Themes2==0.1.4
idna==2.9
irc==19.0.1
isort==4.3.21
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.logging==3.0.0
jaraco.stream==3.0.0
jaraco.text==3.2.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
names==0.3.0
parse==1.14.0
Pillow==7.0.0
playsound==1.2.2
puffotter==0.17.0
pycodestyle==2.6.0
pycparser==2.19
pycryptodomex==3.9.6
pyee==7.0.1
pylint==2.5.3
pyload-ng==0.5.0a5.dev545
pyOpenSSL==19.1.0
pyppeteer==0.0.25
pyquery==1.4.1
pytz==2020.4
pyxmpp2==2.0.1
requests==2.23.0
requests-html==0.10.0
selenium==3.141.0
semver==2.9.1
Send2Trash==1.5.0
sentry-sdk==0.19.5
simplejson==3.17.0
six==1.14.0
soupsieve==1.9.5
tempora==4.0.1
toml==0.10.1
tqdm==4.43.0
typing==3.7.4.3
urllib3==1.25.8
w3lib==1.21.0
websockets==8.1
Werkzeug==1.0.0
wrapt==1.12.1
xdcc-dl==5.0.0
